.settings-container {
    max-width: 1000px!important;
    width: 100%;
}

.settings-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-head ul {
    max-width: 1133px;
    width: 100%;
    /* height: 33px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.settings-head ul li {
    width: max-content;
    background: #000000;
    border: 2px solid #FFFFFF;
    padding: 2px;
    box-sizing: content-box;
}

.settings-head ul li a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 15px;
}

.settings-row {
    background: #D9D9D9;
    border-width: 10px 1px 1px 1px;
    border-style: solid;
    border-color: #020202;    
}

.settings-row span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #999191;
}

.settings-row h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 0;
}

.verification-image {
    border: 1px solid rgba(2, 2, 2, 0.3);
}

.verification-image img {
    width: 100%;
    object-fit: cover;
}

.chess-wrapper {
    width: 100%;
    display: flex;
    height: 173px;
    border: 1px solid rgba(2,2,2,0.3);
}

.chess-wrapper-1,
.chess-wrapper-2 {
    width: 50%;
}

.settings-chess {
    width: 100%;
    height: 86px;
    display: flex;
}

.chess-1 {
    background-color: #fff;
    height: 100%;
    width: 50%;
}

.chess-2 {
    background-color: #020202;
    height: 100%;
    width: 50%;
}

.settings-change-email,
.settings-change-password, 
.settings-forget-password {
    height: 284.52px;
    padding: 5px 15px;
    padding-bottom: 27px;
    border: 1px solid rgba(2,2,2,0.3);
}

.settings-change-email {
    height: 150px;
}

.settings-verification,
.settings-notifications {
    padding: 33px;
}

.settings-verification {
    height: 207px;
    border: none!important;
}

.settings-notifications p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #999191;
}

.settings-change-email form input,
.settings-change-password form input,
.settings-forget-password form input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #020202;
    width: 80%;
}

.settings-change-email form {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.settings-change-email form button,
.settings-change-password form button,
.settings-forget-password form button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
    background-color: transparent;
    border: 1px solid rgb(137, 130, 130);
    padding: 1px 6px;
    cursor: pointer;
    height: 20px;
}

.change-pass-div ,
.forget-password-div {
    display: flex;
    flex-direction: column;
    margin-top: 13.4px;
}

.change-pass-div label,
.forget-password-div label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #999191;
    margin-bottom: 0px!important;
}

::placeholder {
    color: #000;
}

.settings-change-password,
.settings-forget-password {
    position: relative;
}

.settings-change-password form button,
.settings-forget-password form button {
    position: absolute;
    bottom: 25px;
    right: 20px;
}

.settings-footer-verification h3 {
    padding: 15px 15px 0 15px;
}

.settings-footer-verification span {
    padding-left: 15px;
}

.settings-footer-verification button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
    background-color: transparent;
    border: 1px solid rgb(137, 130, 130);
    padding: 1px 6px;
    cursor: pointer;
}

.settings-footer-verification div {
    margin-top: 30px;
}

.settings-footer-verification div img {
    width: 100%;
    height: 100%;
}

.delete-account {
    width: 100%;
    padding: 0 15px;
}

.delete-account-col {
    border-left: 2px solid rgba(2, 2, 2, 0.3);
}

.delete-account form input {
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #020202;
    width: 95%;
}

.delete-account form button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #000000;
    background-color: transparent;
    border: 1px solid rgb(137, 130, 130);
    padding: 1px 6px;
    cursor: pointer;
    height: 20px;
}

.delete-account form {
    display: flex;
}

.active-account-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
    background-color: rgb(228, 68, 68);
    border: none;
    padding: 6px;
    cursor: pointer;
}


@media screen and (max-width: 767.5px) {
    .settings-verification-col,
    .settings-notification-col {
        display: flex;
    }

    .settings-verification,    
    .settings-notifications {
        width: 60%;
    }

    .verification-image {
        width: 40%;
    }

    .settings-notifications,
    .settings-verification {
        border: 1px solid rgba(2, 2, 2, 0.3);
    }

    .chess-wrapper {
        display: none;
    }

    .delete-account {
        padding: 15px;
    }

    .verification-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .settings-head ul {
        margin-top: 30px;
    }

    .settings-verification,
    .settings-notifications {
        padding: 10px;
    }
}